/* Import */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

/* Variables */

:root {
  --light-blue: #b4d0e7;
  --blue: #0061ff;
  --base-border: 1px solid grey;
}

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: black;
  background-color: white;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 2.5rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: black;
}

main a {
  color: var(--blue);
  text-decoration: underline;
}

li {
  list-style-type: none;
}

header {
  line-height: 80px;
}

header nav ul li {
  display: inline-block;
  margin-right: 2rem;
}

main ul li {
  margin-bottom: 1.5rem;
}

main img {
  width: 100%;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

/* Classes */

.container {
  width: 65%;
  margin: 0 auto;
}

header .container {
  width: 95%;
}

#jumbo .container {
  width: 80%;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.vertical-middle {
  vertical-align: middle;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

#jumbo .img-container {
  top: 0;
  right: 0;
}

/* Classes - Float */

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Classes - Position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Classes - Margin, Padding % Border */

.mr2 {
  margin-right: 2rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.p2 {
  padding: 2rem;
}

.py-5 {
  padding: 0.5rem 0;
}

.py1 {
  padding: 1rem 0;
}

.py6 {
  padding: 6rem 0;
}

.border {
  border: var(--base-border);
}

.border-bottom {
  border-bottom: var(--base-border);
}

/* Classes - Width */

.w33 {
  width: 33%;
}

.w35 {
  width: 35%;
}

.w65 {
  width: 65%;
}

/* Classes - Buttons */

.btn {
  border: none;
  padding: 0.5rem 0.9rem;
  color: white;
  background-color: var(--blue);
  text-decoration: none;
}

header .btn {
  font-size: 0.8rem;
}

/* Classes - Font & Text */

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.text-blue {
  color: var(--blue);
}

/* Font Awesome */

.big-icon {
  font-size: 3rem;
}

/* Classes - Other */

/* ID */

#jumbo {
  background-color: var(--light-blue);
  margin-bottom: 8rem;
}
