/* Import */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap");

/* Variables */

:root {
  --light-blue: #b4d0e7;
  --blue: #0061ff;
  --base-border: 1px solid grey;
}

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: black;
  background-color: white;
}

header {
  line-height: 80px;
}

main img {
  width: 100%;
}

input[type="radio"] {
  margin-right: 0.5rem;
}

hr {
  color: grey;
}

/* Global - Font */

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.3rem;
}

h5 {
  font-size: 1.1rem;
}

/* Global - a */

a {
  text-decoration: none;
  color: black;
}

main a {
  color: var(--blue);
  text-decoration: underline;
}

#jumbo a i {
  color: black;
}

/* Global - li */

li {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  margin-right: 2rem;
}

main ul li {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

/* Classes */

.container {
  width: 65%;
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
}

header .container {
  width: 95%;
  max-width: 1800px;
  min-width: 1050px;
}

#jumbo .container {
  width: 80%;
  max-width: 1300px;
}

#jumbo .img-container {
  top: 0;
  right: 0;
}

/* Classes - Display */

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

/* Classes - Vertical Align */

.vertical-middle {
  vertical-align: middle;
}

.vertical-top {
  vertical-align: top;
}

/* Classes - Float */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Classes - Position */

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Classes - Margin, Padding % Border */

.mr2 {
  margin-right: 2rem;
}

.mb-5 {
  margin-bottom: 0.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.mt2 {
  margin-top: 2rem;
}

.p2 {
  padding: 2rem;
}

.py-5 {
  padding: 0.5rem 0;
}

.py1 {
  padding: 1rem 0;
}

.py5 {
  padding: 5rem 0;
}

.border {
  border: var(--base-border);
}

.border-bottom {
  border-bottom: var(--base-border);
}

/* Classes - Height & Width */

.h60 {
  height: 60rem;
}

.w25 {
  width: 25%;
}

.w33 {
  width: calc(33% - 1.35rem);
}

.w35 {
  width: 35%;
}

.w50 {
  width: 50%;
}

.w55 {
  width: 55%;
}

.w65 {
  width: 65%;
}

/* Classes - Buttons */

.btn {
  border: none;
  padding: 0.5rem 0.9rem;
  color: white;
  background-color: var(--blue);
  text-decoration: none;
}

header .btn {
  font-size: 0.8rem;
}

.btn.black {
  border: 1px solid black;
  color: black;
  background-color: transparent;
}

/* Classes - Font & Text */

.text-center {
  text-align: center;
}

.font-bold {
  font-weight: 700;
}

.text-blue {
  color: var(--blue);
}

.text-white path {
  fill: white;
}

.text-small {
  font-size: 0.8rem;
}

.big-line-height {
  line-height: 1.7;
}

.underline {
  text-decoration: underline;
}

/* Classes - Logos */

.logos img {
  width: 50%;
  margin: auto; /* Position elements at center */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: brightness(0) invert(1); /* Images to white */
}

.logos div {
  height: 185px;
}

/* Classes - Font Awesome */

.big-icon {
  font-size: 3rem;
}

/* ID */

#jumbo {
  background-color: var(--light-blue);
  margin-bottom: 6rem;
}

#btn-sell {
  right: 2rem;
  top: 2rem;
  padding: 0.5rem 1.5rem;
}

/* ID - Logos */

#designit {
  background-color: #a2d39b;
}

#asu {
  background-color: #61082b;
}

#uf {
  background-color: #0093ce;
}

#topps {
  background-color: #ff1c1c;
}
